.navbar{
          background-color: #9a1616;
          border-bottom: rgb(0, 0, 0) double 10px ;
          border-top: rgb(0, 0, 0) solid 5px ;    
}
.navbar .navbar-brand{
          color: white;
          font-size: 25px;
}
.nav-link{
          color: white;
}
.nav-link:hover{
          color: rgb(255, 255, 255);
          font-weight: bold;
}
#header{
          background: url('../shared/1.png') no-repeat; 
          background-size: cover;
          height: 100vh;
          
}
.para{
          color: #9a1616;
          font-size: large;
          text-align: center;
}

.h1{margin-top: 50px;
          color: #9a1616;
          font-size: 40px;
          text-align: center;}