.navbar{
          background-color: #df0909;
          border-bottom: rgb(0, 0, 0) solid 5px ;
          border-top: rgb(0, 0, 0) solid 5px ;   
}
.navbar .navbar-brand{
          color: white;
          font-size: 25px;
}
.nav-link{
          color: white;
}
.nav-link:hover{
          color: rgb(255, 255, 255);
          font-weight: bold;
}
#header{
          
          background: url('../shared/images/Poshesh.jpg') no-repeat; 
          background-size: cover;
          height: 100vh;
          
}
.para{
          font-size: large;
          text-align: center;
          text-decoration: transparent; 
          color: white; 
}